@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500,700);
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: white;
  font-family: Roboto, Helvetica, "Helvetica Neue", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container #login-btn {
  width: 450px;
  border-radius: 2px;
  border: 2px solid #673AB7;
  background: none;
  text-align: center;
  font-size: 2em;
  font-weight: 500;
  color: #673AB7;
  padding: 15px 32px;
  cursor: pointer;
}
.container #login-btn:hover {
  background: #512e90;
  color: white;
}
