//Form styles

form {
  margin-bottom: 20px;
}

button {
  background: #47B8E0;
  text-align: center;
  cursor: pointer;
  padding: 10px 15px;
  @include border-radius(2px);
  font-size: 1em;
  color: $light;

  &:hover {
    background: darken($accent, 10);
    color: $light;
  }

  &:focus {
    outline: 0;
  }
}
