
// Fonts
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500,700);


// Colour Palette

$light      : #FFFFFF;
$dark       : #000000;


// Fonts
$fontFamily : Roboto, Helvetica, 'Helvetica Neue', sans-serif;

// Weights
$thin   : 300;
$normal : 400;
$bold   : 500;
$heavy  : 700;
