.container {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: white;
  font-family: $fontFamily;
  display: flex;
  justify-content: center;
  align-items: center;

  .branding {

    #logo {

    }

    p.img {
      
    }
  }

  #login-btn {
    width: 450px;
    border-radius: 2px;
    border: 2px solid #673AB7;
    background: none;
    text-align: center;
    font-size: 2em;
    font-weight: 500;
    color: #673AB7;
    padding: 15px 32px;
    cursor: pointer;

    &:hover {
      background: darken(#673AB7, 10);
      color: white;
    }
  }
}
