.mdl-layout {
	align-items: center;
  justify-content: center;
}
.mdl-layout__content {
	padding: 24px;
	flex: none;
}

#results { padding: 1rem; text-align: center; }

.match { display: inline-block; padding: 1rem .5rem; color: rgb(0, 150, 136)}

.match:hover {
  text-decoration: underline;
}
