.mdl-layout {
	align-items: center;
  justify-content: center;
}
.mdl-layout__content {
	padding: 24px;
	flex: none;
}

#results { padding: 1rem; text-align: center; }

.match { padding: 1rem; color: #673AB7}
