.nav {
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 200;

  .menu {
    position: relative;
    z-index: 300;

    .primary-bar {
      position: relative;
      z-index: 310;
    }

    .secondary-bar {
      position: relative;
      z-index: 310;
    }

  }

  .side-nav {
    z-index: 400;

    .side-nav-menu { position: relative; z-index: 402;}

  }

  .tabs {
    md-tabs-wrapper {display: none;}
    md-tabs-content-wrapper {top: 0;}
    height: 100%;

    .tab {
      height: 100%;
      padding-bottom: 8rem;
    }

  }


}
